body {
  background-color: color("grey", "lighten-5");
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}